<?xml version='1.0' encoding='utf-8'?>
<widget id="com.vic.jamyeungmeiyat" version="2.5.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>今晚飲咗未</name>
    <description>飲酒社交打卡 App - 今晚飲咗未？</description>
    <author email="vichoo2020@gmail.com">Vic</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#0D0D12" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/res/icon/android/icon-xxxhdpi.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#0D0D12" />
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <icon src="www/res/icon/android/icon-512.png" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="36" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/res/icon/android/icon-xxxhdpi.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#0D0D12" />
        <icon density="ldpi" src="www/res/icon/android/icon-mdpi.png" />
        <icon density="mdpi" src="www/res/icon/android/icon-mdpi.png" />
        <icon density="hdpi" src="www/res/icon/android/icon-hdpi.png" />
        <icon density="xhdpi" src="www/res/icon/android/icon-xhdpi.png" />
        <icon density="xxhdpi" src="www/res/icon/android/icon-xxhdpi.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/icon-xxxhdpi.png" />
        <splash density="mdpi" src="www/res/splash/android/splash-mdpi-portrait.png" />
        <splash density="hdpi" src="www/res/splash/android/splash-hdpi-portrait.png" />
        <splash density="xhdpi" src="www/res/splash/android/splash-xhdpi-portrait.png" />
        <splash density="xxhdpi" src="www/res/splash/android/splash-xxhdpi-portrait.png" />
        <splash density="xxxhdpi" src="www/res/splash/android/splash-xxxhdpi-portrait.png" />
    </platform>
</widget>
